.side-navigation{
    display: block;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
  }
  img{
      padding: 20px 0;
      margin: 0 20px;
  }
  .side-navigation a{
      text-decoration: none;
      padding: 5px 20px;
  }
  *{
    margin: 0;
  }
  .navbg{
    background-color: #04162C;
  }